/* Importar la fuente 'Muli' desde Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Establecer una regla global para el box-sizing */
* {
  box-sizing: border-box;
}

/* Estilos para el cuerpo (body) */
body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Tamaño completo de la ventana */
  overflow: hidden; /* Oculta el desbordamiento horizontal */
  margin: 0; /* Elimina el margen predeterminado */
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  width: 90vw; /* El ancho máximo del 90% del viewport (ventana del navegador) */
}

/* Estilos para cada panel */
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh; /* El 80% de la altura del viewport */
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5; /* Ocupa la mitad del espacio disponible en el contenedor */
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in; /* Transición suave en todos los estilos durante 700ms */
}

/* Estilos para el título dentro de cada panel */
.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

/* Estilos para un panel activo (cuando se selecciona) */
.panel.active {
  flex: 5; /* Ocupa más espacio en el contenedor cuando está activo */
}

/* Estilos para el título en un panel activo */
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s; /* Transición suave de la opacidad */
}

/* Estilos responsivos para pantallas con un ancho máximo de 480px */
@media (max-width: 480px) {
  .container {
    width: 100vw; /* El ancho máximo del 100% del viewport */
  }

  /* Ocultar el cuarto y quinto paneles en pantallas pequeñas */
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
